.pr-details {
  display: flex;
  padding: 15px 10px;
}

.pr-details div {
  flex: 1;
  margin-left: 15px;
}

.pr-details div a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.pr-details div a:hover{
  color: #146FD7;
}

.pr-details div p {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}

.pr-details span{
  display: inline-block;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0 7px;
  margin-left: 1em;
}
