<div class="p-grid ui-fluid">
  <div class="p-col-12">
    <div class="p-grid">

      <div class="p-col-12 p-md-6">
        <a [routerLink]="['/repos']" class="title link">
          <i class="pi pi-angle-left"></i>
          {{ loginRepo }}/{{ nameRepo }}
        </a>
      </div>

      <div class="p-col-12 p-md-12">
        <p-dataView [value]="prs">
          <ng-template let-pr pTemplate="listItem">
            <div class="pr-details p-col-12">
              <div>
                <a href="{{ pr.htmlUrl }}">{{ pr.title }}</a>
                <span *ngFor="let label of pr.labelsPr" [ngStyle]="{'background': label.color}">{{ label.name }}</span>
                <p>#{{ pr.number }} by {{ pr.userLogin }}</p>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</div>
