<div class="p-grid ui-fluid">
  <div class="p-col-12">
    <div class="p-grid">

        <div class="p-col-12 p-md-6">
          <span class="title">Repositories</span>
        </div>
        <div class="p-col-12">
          <form class="p-grid" autocomplete="off" (ngSubmit)="search()">
            <div class="p-col-11 p-md-4">
              <input type="text" pInputText placeholder="Add repository" name="search"
                [(ngModel)]="filter.search" />
            </div>
            <div class="p-col-1">
              <button pButton type="submit" icon="pi pi-plus"></button>
            </div>
          </form>
        </div>
        <div class="p-col-12 p-md-12">
          <p-virtualScroller [value]="repositories" scrollHeight="500px" [itemSize]="80">
            <p-header>
                <div class="list-header">
                    <div class="title-container">
                        Added repositories
                    </div>
                </div>
            </p-header>
            <ng-template let-repositories pTemplate="item">
              <div class="repository-details">
                <img style="float: left;" class="repository-item-image" src="{{ repositories.owner.avatar_url }}"/>
                <div>
                  <a href="#">{{ repositories.full_name }}</a>
                  <p>{{ repositories.description }}</p>
                </div>
              </div>
            </ng-template>
          </p-virtualScroller>
        </div>
    </div>
  </div>
</div>

<!--
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <span class="title">Repositories</span>
    </div>
  </div>

  <form action="" class="ui-g ui-fluid">
    <div class="ui-g-11 ui-md-3">
      <input type="text" pInputText placeholder="Add repository" />
    </div>

    <div class="ui-g-1 ui-md-9">
      <button pButton type="submit" icon="pi pi-plus"></button>
    </div>
  </form>

-->


<!--

                  <div class="repository-details">
                    <div style="float: left;">
                        <img style="float: left;" class="repository-item-image" src="assets/images/{{repository.avatar}}.svg" width="35">
                        <div>
                            <b>{{ repository.name }}</b>
                            <div>{{ repository.description }}</div>
                        </div>
                    </div>
                    <a href="#">View PRs</a>
                </div>

-->
