<div class="p-grid ui-fluid">
  <div class="p-col-12">
    <div class="p-grid">

        <div class="p-col-12 p-md-6">
          <span class="title">Repositories</span>
        </div>
        <div class="p-col-12">
          <form class="p-grid" autocomplete="off" (ngSubmit)="add()">
            <div class="p-col-11 p-md-4">
              <input type="text" pInputText placeholder="Add repository" name="add"
                [(ngModel)]="filter.fullName" />
            </div>
            <div class="p-col-1">
              <button pButton type="submit" icon="pi pi-plus"></button>
            </div>
          </form>
        </div>
        <div class="p-col-12 p-md-12">
          <p-dataView [value]="repositories">
            <ng-template let-repo pTemplate="listItem">
              <div class="repository-details p-col-12">
                <img style="float: left;" class="repository-item-image" src="{{ repo.avatarUrl }}"/>
                <div>
                  <a href="#">{{ repo.fullName }}</a>
                  <p>{{ repo.description }}</p>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>
    </div>
  </div>
