<div class="p-grid ui-fluid">
  <div class="p-col-12">
    <div class="p-grid">

        <div class="p-col-12 p-md-6">
          <span class="title">Repositories</span>
        </div>
        <div class="p-col-12">
          <form action="" class="p-grid">
            <div class="p-col-11">
              <input type="text" pInputText placeholder="Add repository" />
            </div>
            <div class="p-col-1">
              <button pButton type="submit" icon="pi pi-plus"></button>
            </div>
          </form>
        </div>
        <div class="p-col-12 p-md-6">
          <!--img src="https://picsum.photos/202" style="width:100%"-->
        </div>
    </div>
  </div>
</div>

<!--
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <span class="title">Repositories</span>
    </div>
  </div>

  <form action="" class="ui-g ui-fluid">
    <div class="ui-g-11 ui-md-3">
      <input type="text" pInputText placeholder="Add repository" />
    </div>

    <div class="ui-g-1 ui-md-9">
      <button pButton type="submit" icon="pi pi-plus"></button>
    </div>
  </form>

-->
