*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  background: #EEF2F6;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  color: #999999;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

label{
  font-weight: bold;
}

.content {
  max-width: 1170px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(221, 221, 221, 0.2);
  padding: 30px;
  margin: 80px auto;
}

.content .title {
  font-weight: bold;
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}
